
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
@model List<_01_WebApplication.dbBlog.Entity.Entity.posts>

@foreach (var item in Model)
{
    <!-- Featured blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="@item.imageUrl" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">@item.created_at</div>
            <h2 class="card-title">@item.title</h2>
            <p class="card-text">@item.content</p>
            <p class="card-text">@item.authorId</p>
            <a class="btn btn-primary" href="#!">Read more →</a>
        </div>
    </div>
}


